<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
        <div class="row">
          <form class="form" action="" method="post">
              <div class="info">
                Please fill all fields bellow with valid information about your twitter app in twitter developer account.
              </div>
              <div class="row">
                <label for="ckey">Consumer Key (API Key)</label>
                <input type="text" name="ckey" value="" placeholder="zP5d6*****">
              </div>

              <div class="row">
                <label for="cSecret">Consumer Secret (API Secret)</label>
                <input type="text" name="cSecret" value="" placeholder="YJqF*****">
              </div>

              <div class="row">
                <label for="atSecret">Access Token Secret	</label>
                <input type="text" name="atSecret" value="" placeholder="	Xa41Q*****">
              </div>

              <div class="row">
                <label for="at">Access Token</label>
                <input type="text" name="at" value="" placeholder="87750*****">
              </div>


              <button type="submit" name="submit">Submit</button>
          </form>
        </div>
      </div>
  </body>
</html>
