<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Twitter Service!</title>

    <!-- Bootstrap -->
    <link href="src/dist/css/bootstrap.css" rel="stylesheet">
    <link href="src/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="src/dist/css/sticky-footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="/src/dist/js/jquery.js"></script>
    <script src="/src/dist/js/jquery.validate.min.js"></script>
    <![endif]-->

        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io.connect('http://localhost:8080');
          socket.on('this', function (type,message) {
            console.log('message');

            var div = document.createElement('div');
            div.textContent = 'type of message '+ type +', message: '+message;
            if(type ==='errors'){
              div.setAttribute('class', 'bg-danger');
            }else{
              div.setAttribute('class', 'bg-success');
            }
            document.getElementById('messageContainer').appendChild(div);
          });

          socket.emit('private message', 'ali','hi');
        </script>

        <style>


        div#messageContainer {
            margin-top: 50px;
            margin-bottom: 50px;
            max-width: 900px;
            max-height: 500px;
            background: #e8e3e3;
            overflow: auto;
        }

          .bg-danger,.bg-success{
            padding: 10px;
            color: #0a0a0a;
            margin: 10px;
            border-radius: 5px;
          }

        </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="status" id='messageContainer'>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="text-muted">Twitter service By Ali Abu Ras</p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/src/dist/js/bootstrap.min.js"></script>

</body>
</html>
